/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
@import url(http://fonts.googleapis.com/css?family=Signika+Negative:600);

@import url(http://fonts.googleapis.com/css?family=Gudea:400);
body {
  background: #7cb84b;
  font-family: "Gudea", "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #29230f;
}
a {
  color: #ededed;
}
a:hover {
  color: #e0e0e0;
}
header {
  padding: 3em 0px 3em 0px;
}
nav a {
  margin-right: 0.5em;
  color: none;
}
nav a:hover {
  color: none;
}
abbr, acronym {
  border-bottom: 1px solid #ededed;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.top-nav,
.nav-bar,
.sub-nav {
  font-family: 'Signika Negative', sans-serif;
  color: #2d4205;
}
hr {
  border-top: 1px solid #70a742;
}
.bottom-border {
  border-bottom: 4px solid #29230f;
}
.top-nav {
  background: #2d4205;
  height: 2.5em;
  line-height: 2.5em;
}
a.logo {
  color: #ffd454;
  font-size: 1.4em;
}
a.logo:hover {
  color: #ffd454;
}
.nav-bar {
  background-color: #2d4205;
  border-color: #29230f;
}
.nav-bar > li {
  border-right: 1px solid #29230f;
}
.nav-bar > li > a {
  color: #ededed;
}
.nav-bar > li.has-flyout > a.flyout-toggle span {
  border-top: 4px solid #e6f2dd;
}
div.panel {
  background: #efefef;
  background: -moz-linear-gradient(top, #6da441 0%, #689c3e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6da441), color-stop(100%, #689c3e));
  background: -o-linear-gradient(top, #6da441 0%, #689c3e 100%);
}
.blue.button {
  background-color: #00a6fc;
}
.red.button {
  background-color: #e91c21;
}
.white.button {
  background-color: #e9e9e9;
  color: #333;
}
.black.button {
  background-color: #141414;
}
.green.button {
  background-color: #5b8737;
}
.blue.button:hover, .blue.button:focus {
  background-color: #0084c9;
}
.red.button:hover, .red.button:focus {
  background-color: #bf1317;
}
.white.button:hover, .white.button:focus {
  background-color: #d0d0d0;
  color: #333;
}
.black.button:hover, .black.button:focus {
  background-color: #000000;
}
.green.button:hover, .green.button:focus {
  background-color: #436328;
}
.nice.blue.button {
  border: 1px solid #0095e3;
}
.nice.red.button {
  border: 1px solid #d7151a;
}
.nice.white.button {
  border: 1px solid #dcdcdc;
  text-shadow: none !important;
}
.nice.black.button {
  border: 1px solid #000000;
}
.nice.green.button {
  border: 1px solid #436328;
}
dl.sub-nav dd.active a {
  background: #2d4205;
  color: #ffd454;
  padding: 3px 9px;
}
dl.sub-nav dt {
  color: #2d4205;
}
ul.pagination li a {
  display: block;
  padding: 6px 7px 4px;
  color: #2d4205;
}
ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus {
  border-bottom: solid 2px #ffd454;
  color: #161308;
}
ul.pagination li.unavailable a {
  cursor: default;
  color: #999;
}
.form-field.error input, input.input-text.red {
  border-color: #cf0000;
  background-color: rgba(255, 0, 0, 0.15);
}
.form-field.error label, label.red {
  color: #cf0000;
}
.form-field.error small, small.error {
  margin-top: -6px;
  display: block;
  margin-bottom: 9px;
  font-size: 11px;
  color: #cf0000;
  width: 254px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
form.nice div.form-field.error small, form.nice small.error {
  padding: 6px 4px;
  border: solid 0 #cf0000;
  border-width: 0 1px 1px 1px;
  margin-top: -10px;
  background: #cf0000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
}
div.alert-box {
  display: block;
  background-color: #e9e9e9;
  padding: 6px 7px;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
  position: relative;
}
.alert-box.success {
  background-color: #5b8737;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.alert-box.warning {
  background-color: #dd5600;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.alert-box.error {
  background-color: #e91c21;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.blue.label {
  background-color: #00a6fc;
}
.red.label {
  background-color: #e91c21;
}
.green.label {
  background-color: #5b8737;
}
.white.label {
  background-color: #e9e9e9;
  color: #333;
}
.black.label {
  background-color: #141414;
}
.post {
  display: block;
  margin-bottom: 1.7em;
}
.post p {
  font-size: 15px;
  line-height: 23px;
}
.post-header {
  margin-bottom: 1em;
}
.post-header h6 {
  font-style: italic;
  color: #bca148;
}
.comments {
  float: right;
}
.comments a {
  text-decoration: underline;
}
footer.row {
  margin-top: 7em;
  border-top: solid 1px #DDD;
  padding: 4em 0px;
}
