// COLORS

@blue:                  	#2a85e8;
@green:                 	#7cb84b;
@red:                   	#cf0000;
@yellow:                	#ffd454;
@orange:                	#dd5600;
@pink:                  	#f49ac1;
@purple:                	#9760b3;
@white: 					#ededed;
@grey:						#eeeeee;
@darkGrey:					#8f8f8f;
@black:						#141414;
@brown:						#29230f;
@darkGreen:					#2d4205;
@lightGreen:				lighten(@green, 40%);

// BUTTONS

@whiteButton:				#e9e9e9;
@blueButton:				#00a6fc;
@redButton:					#e91c21;
@greenButton:				#5b8737;
@blackButton:				#141414;

// ELEMENTS

@backgroundColor: 			@green;

@navBarLinkColor:			@linkColor;
@navBarSpanColor:			@lightGreen;

@linkColor:					@white;
@linkHoverColor:			darken(@linkColor, 5%);

@topNavLinkColor:			none;
@topNavBackgroundColor: 	@darkGreen;
@topNavBorderColor:			@brown;

@logoColor:					@yellow;

@panelGradientStart:		darken(@green, 4%);
@panelGradientFinish:		darken(@green, 7%);

@subNavBackgroundColor:		@darkGreen;
@subNavDtColor:				@darkGreen;


@paginationColor:			@lightTextColor;
@paginationBorderColor:		@blue;
@paginationFocusColor:		@black;

@abbrBorderColor:			@white;

// TYPOGRAPHY

@baseFontSize:          	14px;
@baseLineHeight:        	18px;
@textColor:             	@brown;
@headingColor:				@darkGreen;
@hrColor:					darken(@backgroundColor, 5%);
@lightTextColor:			lighten(@textColor, 40%);
@parFontSize:				@baseFontSize;