// COLORS

@blue:                  	#2a85e8;
@green:                 	#7cb84b;
@red:                   	#c21919;
@yellow:                	#ffd454;
@orange:                	#dd5600;
@pink:                  	#f49ac1;
@purple:                	#9760b3;
@white: 					#fafafa;
@grey:						#eeeeee;
@darkGrey:					#8f8f8f;
@black:						#141414;
@brown:						#29230f;

@darkGreen:					#344a07; // #2d4205;
@lightGreen:				lighten(@green, 40%);
@darkBlue:					#233170;

// BUTTONS

@whiteButton:				#c9c9c9;
@blueButton:				#3e93bd;
@redButton:					#c21919;
@greenButton:				#478026;
@blackButton:				#141414;

// TYPOGRAPHY

@baseFontSize:          	14px;
@baseLineHeight:        	18px;
@textColor:             	@brown;
@headingColor:				@darkGreen;
@hrColor:					darken(@backgroundColor, 5%);
@lightTextColor:			lighten(@textColor, 15%);
@parFontSize:				@baseFontSize;

// ELEMENTS

@backgroundColor: 			@green;

@navBarLinkColor:			@linkColor;
@navBarSpanColor:			@lightGreen;

@linkColor:					@white;
@linkHoverColor:			darken(@linkColor, 5%);

@topNavLinkColor:			@white;
@topNavBackgroundColor: 	@darkGreen;
@topNavBorderColor:			@brown;

@footerBackground:			@darkGreen;
@footerBorderColor:			@brown;
@footerColor:				@white;
@footerLinkColor:			@yellow;

@logoColor:					@yellow;

@panelGradientStart:		darken(@green, 6%);
@panelGradientFinish:		darken(@green, 10%);

@subNavBackgroundColor:		@darkGreen;
@subNavDtColor:				@darkGreen;
@subNavColor:				@yellow;

@paginationColor:				@darkGreen;
@paginationBorderColor:			@yellow;
@paginationFocusColor:			darken(@textColor, 5%);
@paginationUnavailableColor:	@darkGreen;

@abbrBorderColor:			@white;

@bordersColor:				darken(@breadBackground, 10%);	
@elementsBackground:		darken(@green, 10%);

@breadBackground:				@elementsBackground;
@breadBorder:					@bordersColor;
@breadSeparatorColor:			@breadBorder;
@breadCurrentColor:				@lightGreen;
@breadUnavailableColor:			@bordersColor;
@breadUnavailableFocusColor:	#999;

@tableBackground:				lighten(@backgroundColor, 25%);
@tableBorder:					@bordersColor;
@tableHeaderFooterBackground:	@elementsBackground;
@tableAltColor:					lighten(@backgroundColor, 40%);
@tableFooterHeaderTrTdColor:	@textColor;
@tableTrTdColor:				@textColor;
