//simpless:!minify
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Ruda:400);

@import 'variables.less';

body 
{
	background: @greyColor;
	font-family: "Ruda", "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
}

h1
{
	font-size: @headingFontSize;
}

h2
{
	font-size: @headingFontSize * 0.9;
}

h3
{
	font-size: @headingFontSize * 0.7;
}

h4
{
	font-size: @headingFontSize * 0.65;
}

h5
{
	font-size: @headingFontSize * 0.5;
}

h6
{
	font-size: @headingFontSize * 0.45;
}

h1, h2, h3, h4, h5, h6, .top-nav, .nav-bar, .sub-nav
{
    font-family: 'PT Sans', sans-serif;
}

p
{
	font-size: @baseFontSize;
}

.top-nav
{
	background: @topNavBackgroundColor;
	border-bottom: 4px solid @topNavBorderColor;
	height: 2.3em;
	line-height: 2.3em;
}

a.logo 
{
	color: @whiteColor;
	font-size: @logoFontSize;
	padding-top: 5px;
}


