/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);

@import url(http://fonts.googleapis.com/css?family=Ruda:400);
body {
  background: #eeeeee;
  font-family: "Ruda", "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32.4px;
}
h3 {
  font-size: 25.2px;
}
h4 {
  font-size: 23.400000000000002px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16.2px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.top-nav,
.nav-bar,
.sub-nav {
  font-family: 'PT Sans', sans-serif;
}
p {
  font-size: 13px;
}
.top-nav {
  background: #1a1a1a;
  border-bottom: 4px solid #8f8f8f;
  height: 2.3em;
  line-height: 2.3em;
}
a.logo {
  color: #dbdbdb;
  font-size: 1.3em;
  padding-top: 5px;
}
