// COLORS

@greyColor: 				#eee;
@darkGreyColor:				darken(@greyColor, 80%);
@blackColor:				#1a1a1a;
@whiteColor:				#d6d6d6;


@linkColor:					#006cd1;
@topNavBackgroundColor: 	#1a1a1a;
@topNavBorderColor:			#8f8f8f;

// TYPOGRAPHY

// Typography
@baseFontSize:          	13px;
@baseLineHeight:        	16px;
@textColor:             	@darkGreyColor;
@logoFontSize:				1.3em;
@parFontSize:				@baseFontSize;


