// COLORS

@greyColor: 				#eee;
@darkGreyColor:				darken(@greyColor, 80%);
@blackColor:				#1a1a1a;
@whiteColor:				#dbdbdb;


@topNavBackgroundColor: 	#1a1a1a;
@topNavBorderColor:			#8f8f8f;

// TYPOGRAPHY

// Typography
@baseFontSize:          	13px;
@baseLineHeight:        	16px;
@headingFontSize:			36px;
@textColor:             	@darkGreyColor;
@logoFontSize:				1.3em;
@parFontSize:				@baseFontSize;


