/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
@import url(http://fonts.googleapis.com/css?family=Bitter:700);

@import url(http://fonts.googleapis.com/css?family=Cantata+One:400);
body {
  background: #ccae7a;
  font-family: "Glegoo", "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #7d4e2a;
}
a {
  color: #fffaed;
}
a:hover {
  color: #ffe5a1;
}
header {
  padding: 3em 0px 3em 0px;
}
nav a {
  margin-right: 0.5em;
  color: #ffecbf;
}
nav a:hover {
  color: #ffecbf;
}
abbr, acronym {
  border-bottom: 1px solid #fff3d6;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.top-nav,
.nav-bar,
.sub-nav {
  font-family: 'Bitter', sans-serif;
  color: #4f281b;
}
hr {
  border-top: 1px solid #c5a368;
}
.bottom-border {
  border-bottom: 4px solid #7d4e2a;
}
.top-nav {
  background: #4f281b;
  height: 2.5em;
  line-height: 2.5em;
}
a.logo {
  color: none;
  font-size: 1.4em;
}
a.logo:hover {
  color: none;
}
.nav-bar {
  background-color: #4f281b;
  border-color: #7d4e2a;
}
.nav-bar > li {
  border-right: 1px solid #7d4e2a;
}
.nav-bar > li > a {
  color: #fffaed;
}
.nav-bar > li.has-flyout > a.flyout-toggle span {
  border-top: 4px solid #ccae7a;
}
div.panel {
  background: #bf9a59;
  background: -moz-linear-gradient(top, #bf9a59 0%, #b48c45 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bf9a59), color-stop(100%, #b48c45));
  background: -o-linear-gradient(top, #bf9a59 0%, #b48c45 100%);
}
.blue.button {
  background-color: #54b9eb;
}
.red.button {
  background-color: #ed6f6f;
}
.white.button {
  background-color: #e9e9e9;
  color: #333;
}
.black.button {
  background-color: #363636;
}
.green.button {
  background-color: #88b564;
}
.blue.button:hover, .blue.button:focus {
  background-color: #26a6e6;
}
.red.button:hover, .red.button:focus {
  background-color: #e74242;
}
.white.button:hover, .white.button:focus {
  background-color: #d0d0d0;
  color: #333;
}
.black.button:hover, .black.button:focus {
  background-color: #1c1c1c;
}
.green.button:hover, .green.button:focus {
  background-color: #6e9c4a;
}
.nice.blue.button {
  border: 1px solid #26a6e6;
}
.nice.red.button {
  border: 1px solid #e74242;
}
.nice.white.button {
  border: 1px solid #b6b6b6;
  text-shadow: none !important;
}
.nice.black.button {
  border: 1px solid #1c1c1c;
}
.nice.green.button {
  border: 1px solid #6e9c4a;
}
dl.sub-nav dd.active a {
  background: #ed6f6f;
  color: none;
  padding: 3px 9px;
}
dl.sub-nav dt {
  color: #4f281b;
}
ul.pagination li a {
  display: block;
  padding: 6px 7px 4px;
  color: #57361d;
}
ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus {
  border-bottom: solid 2px #ed6f6f;
  color: #141414;
}
ul.pagination li.unavailable a {
  cursor: default;
  color: #a36637;
}
.form-field.error input, input.input-text.red {
  border-color: #ed6f6f;
  background-color: rgba(255, 0, 0, 0.15);
}
.form-field.error label, label.red {
  color: #ed6f6f;
}
.form-field.error small, small.error {
  margin-top: -6px;
  display: block;
  margin-bottom: 9px;
  font-size: 11px;
  color: #ed6f6f;
  width: 254px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
form.nice div.form-field.error small, form.nice small.error {
  padding: 6px 4px;
  border: solid 0 #ed6f6f;
  border-width: 0 1px 1px 1px;
  margin-top: -10px;
  background: #ed6f6f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
}
div.alert-box {
  display: block;
  background-color: #e9e9e9;
  padding: 6px 7px;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
  position: relative;
}
.alert-box.success {
  background-color: #88b564;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.alert-box.warning {
  background-color: #dd5600;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.alert-box.error {
  background-color: #ed6f6f;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.blue.label {
  background-color: #54b9eb;
}
.red.label {
  background-color: #ed6f6f;
}
.green.label {
  background-color: #88b564;
}
.white.label {
  background-color: #e9e9e9;
  color: #333;
}
.black.label {
  background-color: #363636;
}
ul.breadcrumbs {
  display: block;
  background: #f2ebbf;
  padding: 7px 10px;
  border: 1px solid #a18960;
  border-radius: 2px;
  overflow: hidden;
}
ul.breadcrumbs a {
  color: #4f281b;
}
ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span {
  padding-left: 0;
}
ul.breadcrumbs li:before {
  content: "/";
  color: #a18960;
}
ul.breadcrumbs li.current a {
  cursor: default;
  color: #ed6f6f;
}
ul.breadcrumbs li.unavailable a {
  color: #753b28;
}
ul.breadcrumbs li.unavailable:hover a, ul.pagination li.unavailable a:focus {
  text-decoration: none;
  color: #999999;
  cursor: default;
}
table {
  background: #ffecbf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 18px;
  border: 1px solid #a18960;
}
table thead, table tfoot {
  background: #4f281b;
}
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}
table thead tr th, table tfoot tr td {
  padding: 8px 10px 9px;
  font-size: 14px;
  font-weight: bold;
  color: #ffecbf;
}
table thead tr th:first-child, table tfoot tr td:first-child {
  border-left: none;
}
table thead tr th:last-child, table tfoot tr td:last-child {
  border-right: none;
}
table tbody tr.even, table tbody tr.alt {
  background: #f9f9f9;
}
table tbody tr:nth-child(even) {
  background: #f9f9f9;
}
table tbody tr td {
  color: #7d4e2a;
  padding: 9px 10px;
  vertical-align: top;
  border: none;
}
.post {
  display: block;
  margin-bottom: 1.7em;
}
.post p {
  font-size: 15px;
  line-height: 22px;
}
.post-header {
  margin-bottom: 1em;
}
.post-header p.date {
  font-size: 0.85em;
  font-style: italic;
  color: #a36637;
}
.comments {
  float: right;
}
.comments a {
  text-decoration: underline;
}
.footer {
  margin-top: 4em;
  padding: 3em 0px;
  background-color: #4f281b;
  border-top: solid 1px #ffe6a8;
}
footer p {
  color: #ffe6a8;
}
footer a {
  color: none;
}
footer a:hover {
  color: none;
}
