// COLORS

@blue:                  	#2a85e8;
@green:                 	#2e8f34;
@red:                   	#cf0000;
@yellow:                	#f7b42c;
@orange:                	#dd5600;
@pink:                  	#f49ac1;
@purple:                	#9760b3;
@white: 					#fff;
@grey:						#eeeeee;
@darkGrey:					#8f8f8f;
@black:						#141414;

// BUTTONS

@whiteButton:				#e9e9e9;
@blueButton:				#00a6fc;
@redButton:					#e91c21;
@greenButton:				#5b8737;
@blackButton:				#141414;

// TYPOGRAPHY

@baseFontSize:          	14px;
@baseLineHeight:        	18px;
@textColor:             	darken(@backgroundColor, 80%);
@lightTextColor:			lighten(@textColor, 40%);
@parFontSize:				@baseFontSize;

// ELEMENTS

@backgroundColor: 			@white;
@navBarLinkColor:			none;
@navBarSpanColor:			none;
@linkColor:					@blue;
@linkHoverColor:			darken(@linkColor, 5%);

@topNavLinkColor:			none;
@topNavBackgroundColor: 	none;
@topNavBorderColor:			none;

@logoColor:					none;

@panelGradientStart:		darken(@white, 3%);
@panelGradientFinish:		darken(@white, 6%);

@subNavBackgroundColor:		none;

@paginationColor:			@lightTextColor;
@paginationBorderColor:		@blue;
@paginationFocusColor:		@black;
