#header
{
	padding: 50px 0px;
}

.social
{
	margin-bottom: 25px;
}

.color
{
	color: #00a5ff;	
}

#valueProps h4
{
	color: #00a5ff;
}

.center
{
	text-align: center;
}

.install:before 
{
   content:"";
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background:url('../images/glyphicons_009_magic.png') 0 0 no-repeat;;
   opacity:0.65;
}

.install
{
	padding-left: 38px;
}

.open-source:before
{
   content:"";
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background: url('../images/glyphicons_341_github.png') 0 0 no-repeat;
   opacity:0.65;
}

.open-source
{
	padding-left: 38px;	
}

.responsive:before
{
   content:"";
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background: url('../images/glyphicons_162_ipad.png') 0 0 no-repeat;
   opacity:0.65;	
}

.responsive
{
	padding-left: 38px;	
}

#progress ul li
{
	margin: 0;
	vertical-align: center;
}

.github-commits-widget-by
{
	float: right;
	font-size: 70%;
}

#gallery
{
	margin-bottom: 50px;
}

.style
{
	display: block;
	height: 300px;
	padding: 4px;
	background-color: #E3E3E3;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.style img
{
	width: 290px;
	height: 200px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}